html {
	background-color: oklch(1 0 0);

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

body {
	width: 960px;
	margin: 0px auto;
}

button {
	min-width: 44px;
	min-height: 44px;

	border-style: solid;
	border-width: 0px;

	font: inherit;

	cursor: pointer;
	user-select: none;
}

button:disabled {
	opacity: 0.25;

	pointer-events: none;
}

.l-dead-center {
	width: min-content;
	height: min-content;

	margin: auto;

	position: absolute;
	inset: 0px;

	display: block;
}

.slider-container {
	padding: 1rem;
}

.slider {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1rem;
}

.slider-image {
	background: oklch(0.96 0 0);

	border-radius: 0.25rem;

	display: inline-block;
}

.slider-arrow {
	width: 3.75rem;
	height: 3.75rem;

	padding-inline: 0px;
	padding-bottom: 0.25rem;

	border-radius: 50%;

	font-size: 2rem;
	font-weight: 700;

	background-color: unset;
	transition: background-color 150ms;
}

.slider-arrow:hover {
	background-color: oklch(0 0 0 / 0.025);
}

.slider-counter {
	margin-top: 0.5rem;
	margin-bottom: 0px;

	font-size: 0.75rem;
	text-align: center;
}
